<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第一页</title>
</head>
<body>
    我是模板页面!后端传过来的数据是:{{aa}}

</body>

<script>
    // $.ajax({
    //   url:"/index",
    //   type: "GET",
    //   async: true,
    //   data: user,//Json对象
    //   dataType: 'json',
    //   success: function (data) {

    //   }
    // });
</script>
</html>